.htaccess
/config.php
/config.php.remote
admin/config.php
admin/config.php.remote

!index.html

#config ftp para sublime
sftp-config.json

download/
image/data/
image/cache/
image/catalog/
system/cache/
system/logs/

storage/

system/storage/

# vQmod log files
vqmod/logs/*
# vQmod cache files
vqmod/vqcache/*
vqmod/checked.cache
vqmod/mods.cache

